<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      AGENDA
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/Login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuario/listagem">Lista</a>
        </li>
        <li class="nav-item">
          <a routerLink="/usuario" class="nav-link">Logout</a>
      </li>
      </ul>
    </div>
  </div>
</nav>
<form [formGroup]="formData" novalidate>
  <div class="row">
    <div class="col-12">
      <h3>Cadastro de Colaborador</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-md-3 col-sm-12">
      <div class="mb-3">
        <label for="inputCpf" class="form-label">Email</label>
        <input type="text"
          class="form-control"
          id="inputEmail"
          placeholder="Email do usuario"
          formControlName="Email"
          maxlength="50">
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="mb-3">
        <label for="inputNome" class="form-label">Nome</label>
        <input type="text"
          class="form-control"
          id="inputNome"
          placeholder="nome e sobrenome"
          formControlName="Nome">
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="mb-3">
          <label for="inputNome" class="form-label">Telefone</label>
          <input type="text"
            class="form-control"
            id="inputTelefone"
            placeholder="Telefone"
            formControlName="Telefone"
            maxlength="9">
        </div>
    </div>
  <div class="row">
    <div class="col-md-9 col-sm-1"></div>
    <div class="col-md-2 col-sm-10 text-end">
      <button type="button" class="btn btn-warning" (click)="onClean()">
        Limpar
      </button>
      <button type="button" class="btn btn-primary" (click)="onSalvando()">
        Salvar
      </button>
    </div>
  </div>
</form>

